* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  max-width: 2000px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  color: #1c1917;
  background-color: #fafaf9;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  padding: 4px;
}

header {
  padding: 20px 40px;
  background-color: #e7e5e4;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header--title {
  font-family: "Fraunces", serif;
  font-size: 2em;
  letter-spacing: 0.05rem;
}

.header--nav-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 2em;
}

.hero--image {
  width: 100%;
  z-index: -1;
}

.hero--text {
  font-family: "Fraunces", serif;
  font-size: 3em;
  color: #fafaf9;
  position: absolute;
  top: calc(40% - 200px);
  left: 10%;
  width: 25vw;
  z-index: 1;
}

.product-carousel {
  display: flex;
  margin: 100px 60px;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
}

.fa-chevron-left {
  font-size: 2em;
}

.fa-chevron-right {
  font-size: 2em;
}

.product-card {
  width: 300px;
  height: 533px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  flex: 0 0 auto;
  text-align: center;
}

.product-card--placeholder-text {
  font-family: "Fraunces", serif;
  margin-top: 200px;
  transform: rotate(-30deg);
}

.product-card--button {
  margin: 0 auto;
  margin-top: 215px;
  width: 80%;
  height: 40px;
  font-weight: bold;
  border: 1px solid #78716c;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card--button:hover {
  border: 2px solid #78716c;
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin: 80px 0;
}

.product-grid--section {
  margin: 0 auto;
}

.product-grid--heading {
  align-self: flex-start;
  margin-bottom: 20px;
  font-family: "Fraunces", serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 60px;
}

@media only screen and (max-width: 1440px) {
  .product-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media only screen and (max-width: 1100px) {
  .product-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

.signup {
  margin: 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.signup--heading {
  font-family: "Fraunces", serif;
}

.signup--subheading {
  font-size: 1.15em;
  max-width: 600px;
  margin-top: 20px;
}

.signup--form {
  border: 1px solid #78716c;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin-top: 40px;
}

.signup--form--names {
  display: flex;
  gap: 20px;
}

.signup--form--button {
  align-self: flex-start;
  width: 110px;
  height: 30px;
  border-radius: 6px;
  color: #fafaf9;
  background-color: #78716c;
}

.article-body {
  display: flex;
  align-items: center;
  margin: 80px 40px;
  column-gap: 40px;
}

.article-body--paragraph {
  font-family: "Fraunces", serif;
  font-size: 1.5em;
}

.article-body--image {
  width: 300px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.about-body {
  padding: 60px 60px;
}

.about-body--heading {
  font-family: "Fraunces", serif;
  margin-bottom: 20px;
  text-align: center;
}

.about-body--paragraph {
  font-size: 1.25em;
  text-indent: 40px;
  line-height: 1.4em;
  max-width: 80%;
  margin: 15px auto;
}

.footer {
  padding: 60px 60px 40px 60px;
}

.footer-top {
  display: flex;
}

.footer-top--title {
  margin-right: auto;
  font-family: "Fraunces", serif;
  font-size: 1.75em;
}

.footer-top--nav-groups {
  display: flex;
  column-gap: 60px;
}

.footer-top--nav-group--title {
  font-size: 1.1em;
  margin-bottom: 12px;
}

.footer-top--nav-group > ul > li {
  margin-top: 6px;
  color: #44403c;
}

.footer-top--sign-up-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: 80px;
}

.footer-top--register-button {
  width: 110px;
  height: 30px;
  border-radius: 6px;
  color: #fafaf9;
  background-color: #78716c;
}

.footer-top--log-in-button {
  width: 110px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #78716c;
  color: #78716c;
  background-color: #fafaf9;
}

.footer-hr {
  margin: 20px 0;
  border: 1px solid #78716c;
  opacity: 50%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom--socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.footer-icons {
  font-size: 28px;
}
